



-_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

In [1]:
import pandas as pd

df = pd.DataFrame({'animal': ['cat', 'cat', 'dog', 'cat', 'dog', 'cat', 'dog', 'dog'], 
                   'country': ['USA', 'Canada', 'Canada', 'Canada', 'USA', 'Canada', 'USA', 'USA'], 
                   'gender': ['male','female','male','male','male','male','female','female'],
                   'cat_integers': [1,1,0,1,0,1,0,0]})

df.head(8)

  animal country  gender  cat_integers
0    cat     USA    male             1
1    cat  Canada  female             1
2    dog  Canada    male             0
3    cat  Canada    male             1
4    dog     USA    male             0
5    cat  Canada    male             1
6    dog     USA  female             0
7    dog     USA  female             0

In [2]:
pd.crosstab(df['animal'], df['country'])

country  Canada  USA
animal
cat           3    1
dog           1    3

In [3]:
pd.crosstab(df['country'], df['gender'])

gender   female  male
country
Canada        1     3
USA           2     2

In [4]:
pd.crosstab(df['country'], df['gender'], normalize='columns')

gender     female  male
country
Canada   0.333333   0.6
USA      0.666667   0.4

In [5]:
pd.crosstab(df['country'], df['gender'], normalize='index')

gender   female  male
country
Canada     0.25  0.75
USA        0.50  0.50

In [6]:
pd.crosstab(df['country'], [df['gender'], df['animal']])

gender  female     male
animal     cat dog  cat dog
country
Canada       1   0    2   1
USA          0   2    1   1

In [7]:
pd.crosstab(df['country'], [df['gender'], df['animal']], margins=True)

gender  female     male     All
animal     cat dog  cat dog
country
Canada       1   0    2   1   4
USA          0   2    1   1   4
All          1   2    3   2   8

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip', compression='zip', header=1, skipfooter=2, sep=',', quotechar='"', engine='python')

In [10]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000,20000,20000.0,36 months,14.47%,688.13,C,C2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,25000,25000,25000.0,60 months,16.14%,609.82,C,C4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,26500,26500,26500.0,60 months,11.31%,580.28,B,B3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10400,10400,10400.0,36 months,12.98%,350.32,B,B5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,35000,35000,35000.0,60 months,12.98%,796.00,B,B5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
128407,NaN,NaN,23000,23000,23000.0,36 months,15.02%,797.53,C,C3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128408,NaN,NaN,10000,10000,10000.0,36 months,15.02%,346.76,C,C3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128409,NaN,NaN,5000,5000,5000.0,36 months,13.56%,169.83,C,C1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128410,NaN,NaN,10000,10000,9750.0,36 months,11.06%,327.68,B,B3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128411,NaN,NaN,10000,10000,10000.0,36 months,16.91%,356.08,C,C5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [12]:
# Set Pandas Display Options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
 
# Accomplished above
# df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
# print(df.shape)
# df.head()

In [13]:
df.isnull().sum().sort_values(ascending=False)

id                                            128412
desc                                          128412
member_id                                     128412
url                                           128412
orig_projected_additional_accrued_interest    128345
hardship_type                                 128343
hardship_last_payment_amount                  128343
hardship_payoff_balance_amount                128343
hardship_reason                               128343
hardship_loan_status                          128343
hardship_dpd                                  128343
hardship_length                               128343
payment_plan_start_date                       128343
hardship_end_date                             128343
hardship_start_date                           128343
hardship_amount                               128343
deferral_term                                 128343
hardship_status                               128343
settlement_percentage                         128244
settlement_term                               128244
settlement_status                             128244
settlement_amount                             128244
settlement_date                               128244
debt_settlement_flag_date                     128244
sec_app_mths_since_last_major_derog           123258
verification_status_joint                     113564
mths_since_last_record                        112962
sec_app_revol_util                            111888
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
sec_app_chargeoff_within_12_mths              111630
sec_app_collections_12_mths_ex_med            111630
dti_joint                                     111630
annual_inc_joint                              111630
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
mths_since_recent_bc_dlq                      103243
mths_since_last_major_derog                    99232
mths_since_recent_revol_delinq                 91630
mths_since_last_delinq                         72196
emp_title                                      20947
il_util                                        20274
next_pymnt_d                                   18643
mths_since_recent_inq                          16047
emp_length                                     11704
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
num_tl_120dpd_2m                                2859
bc_util                                         1754
percent_bc_gt_75                                1692
bc_open_to_buy                                  1691
mths_since_recent_bc                            1591
dti                                              237
last_pymnt_d                                     159
revol_util                                       156
all_util                                          37
avg_cur_bal                                       13
last_credit_pull_d                                 1
int_rate                                           0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
purpose                                            0
total_rec_int                                      0
total_acc                                          0
funded_amnt_inv                                    0
funded_amnt                                        0
total_rec_late_fee                                 0
recoveries                                         0
loan_amnt                                          0
collection_recovery_fee                            0
term                                               0
revol_bal                                          0
installment                                        0
pymnt_plan                                         0
loan_status                                        0
title                                              0
zip_code                                           0
addr_state                                         0
issue_d                                            0
delinq_2yrs                                        0
earliest_cr_line                                   0
verification_status                                0
annual_inc                                         0
inq_last_6mths                                     0
home_ownership                                     0
sub_grade                                          0
grade                                              0
open_acc                                           0
pub_rec                                            0
debt_settlement_flag                               0
open_il_12m                                        0
last_pymnt_amnt                                    0
num_sats                                           0
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_tl_30dpd                                       0
collections_12_mths_ex_med                         0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
mort_acc                                           0
mo_sin_rcnt_tl                                     0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_old_rev_tl_op                               0
policy_code                                        0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
hardship_flag                                      0
open_il_24m                                        0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
total_rev_hi_lim                                   0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
inq_fi                                             0
dtype: int64

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [14]:
df.dtypes

id                                            float64
member_id                                     float64
loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
url                                           float64
desc                                          float64
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [ ]:
#set up practice
#df['int_rate'] = df['int_rate'].str.rstrip('%').astype('float')/100

In [15]:
 df['int_rate'].dtypes

dtype('O')

In [16]:
def p2f(column):
   df[column] = df[column].str.rstrip('%').astype('float')/100

Apply the function to the `int_rate` column

In [17]:
p2f('int_rate')

In [18]:
df['int_rate'].dtypes

dtype('float64')

### Clean `emp_title`

Look at top 20 titles

In [19]:
df['emp_title'].value_counts().nlargest(20)

Teacher                     2090
Manager                     1773
Registered Nurse             952
Driver                       924
RN                           726
Supervisor                   697
Sales                        580
Project Manager              526
General Manager              523
Office Manager               521
Owner                        420
Director                     402
Truck Driver                 387
Operations Manager           387
Nurse                        326
Engineer                     325
Sales Manager                304
manager                      301
Supervisor                   270
Administrative Assistant     269
Name: emp_title, dtype: int64

How often is `emp_title` null?

In [20]:
df['emp_title'].isnull().sum()

20947

Clean the title and handle missing values

In [21]:
df['emp_title'].fillna("unknown", inplace=True)

In [22]:
df['emp_title'].isnull().sum()

0

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [23]:
df['emp_title'].str.contains('manager')

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
30        False
31        False
32        False
33        False
34        False
35        False
36        False
37        False
38        False
39        False
40        False
41        False
42        False
43        False
44         True
45        False
46        False
47        False
48        False
49        False
50        False
51        False
52         True
53        False
54        False
55        False
56        False
57        False
58        False
59        False
60        False
61        False
62        False
63        False
64        False
65        False
66        False
67        False
68        False
69        False
70        False
71        False
72        False
73        False
74        False
75        False
76        False
77        False
78        False
79        False
80        False
81        False
82        False
83        False
84        False
85        False
86        False
87        False
88        False
89        False
90        False
91        False
92        False
93        False
94        False
95        False
96        False
97        False
98        False
99        False
100       False
101       False
102       False
103       False
104       False
105       False
106       False
107       False
108       False
109       False
110       False
111       False
112       False
113       False
114       False
115       False
116       False
117       False
118       False
119       False
120       False
121       False
122       False
123       False
124       False
125       False
126       False
127       False
128       False
129       False
130       False
131       False
132       False
133       False
134       False
135       False
136        True
137       False
138       False
139       False
140       False
141       False
142       False
143       False
144       False
145       False
146       False
147       False
148       False
149       False
150        True
151       False
152       False
153       False
154       False
155       False
156       False
157       False
158       False
159       False
160       False
161       False
162       False
163       False
164       False
165       False
166       False
167       False
168       False
169       False
170       False
171       False
172       False
173       False
174       False
175       False
176       False
177       False
178       False
179       False
180       False
181       False
182       False
183       False
184       False
185       False
186       False
187       False
188       False
189       False
190       False
191        True
192       False
193       False
194       False
195       False
196       False
197       False
198       False
199       False
200       False
201       False
202       False
203       False
204       False
205       False
206       False
207       False
208       False
209       False
210       False
211       False
212       False
213       False
214       False
215       False
216       False
217       False
218       False
219       False
220       False
221       False
222       False
223       False
224       False
225       False
226       False
227       False
228       False
229       False
230       False
231       False
232       False
233       False
234       False
235       False
236       False
237       False
238       False
239       False
240       False
241       False
242       False
243       False
244       False
245       False
246       False
247       False
248       False
249       False
          ...
128162    False
128163     True
128164    False
128165    False
128166    False
128167    False
128168    False
128169    False
128170    False
128171    False
128172    False
128173    False
128174    False
128175    False
128176    False
128177    False
128178    False
128179    False
128180    False
128181    False
128182    False
128183    False
128184    False
128185    False
128186    False
128187    False
128188    False
128189    False
128190    False
128191    False
128192    False
128193    False
128194    False
128195    False
128196    False
128197    False
128198    False
128199    False
128200    False
128201    False
128202    False
128203    False
128204    False
128205    False
128206    False
128207    False
128208    False
128209    False
128210    False
128211    False
128212    False
128213     True
128214    False
128215    False
128216    False
128217    False
128218    False
128219    False
128220    False
128221    False
128222    False
128223    False
128224    False
128225    False
128226    False
128227    False
128228    False
128229    False
128230    False
128231    False
128232    False
128233    False
128234    False
128235    False
128236    False
128237    False
128238     True
128239    False
128240    False
128241    False
128242    False
128243    False
128244    False
128245    False
128246    False
128247    False
128248    False
128249    False
128250    False
128251    False
128252    False
128253    False
128254    False
128255    False
128256    False
128257    False
128258    False
128259    False
128260    False
128261    False
128262    False
128263    False
128264    False
128265    False
128266    False
128267    False
128268    False
128269    False
128270    False
128271    False
128272    False
128273    False
128274    False
128275    False
128276    False
128277    False
128278    False
128279    False
128280    False
128281    False
128282    False
128283    False
128284    False
128285    False
128286    False
128287    False
128288    False
128289    False
128290    False
128291    False
128292    False
128293    False
128294    False
128295    False
128296    False
128297    False
128298    False
128299    False
128300    False
128301    False
128302    False
128303    False
128304    False
128305    False
128306    False
128307    False
128308    False
128309     True
128310    False
128311    False
128312    False
128313    False
128314    False
128315    False
128316    False
128317    False
128318    False
128319    False
128320    False
128321    False
128322    False
128323    False
128324    False
128325    False
128326    False
128327    False
128328    False
128329    False
128330    False
128331    False
128332    False
128333    False
128334    False
128335     True
128336    False
128337    False
128338    False
128339    False
128340    False
128341    False
128342    False
128343    False
128344    False
128345    False
128346    False
128347    False
128348    False
128349    False
128350    False
128351    False
128352     True
128353    False
128354    False
128355    False
128356    False
128357     True
128358    False
128359    False
128360    False
128361    False
128362    False
128363    False
128364    False
128365    False
128366    False
128367    False
128368    False
128369    False
128370    False
128371    False
128372    False
128373    False
128374     True
128375    False
128376    False
128377    False
128378    False
128379    False
128380    False
128381    False
128382    False
128383    False
128384    False
128385    False
128386     True
128387    False
128388    False
128389    False
128390    False
128391    False
128392    False
128393    False
128394    False
128395    False
128396    False
128397    False
128398    False
128399    False
128400    False
128401    False
128402    False
128403    False
128404    False
128405    False
128406    False
128407    False
128408    False
128409    False
128410    False
128411    False
Name: emp_title, Length: 128412, dtype: bool

In [24]:
df['emp_title'].str.contains('manager').value_counts()

False    125034
True       3378
Name: emp_title, dtype: int64

In [25]:
df['emp_title'].str.contains('manager').value_counts()

False    125034
True       3378
Name: emp_title, dtype: int64

In [26]:
manager=(df['emp_title'].str.contains('manager'))

In [27]:
df['manager'] = manager

In [28]:
df.manager.value_counts()

False    125034
True       3378
Name: manager, dtype: int64

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [29]:
df['term'].head()

0     36 months
1     60 months
2     60 months
3     36 months
4     60 months
Name: term, dtype: object

In [30]:
df['term'] = df['term'].str.rstrip('months').astype('int')

In [31]:
df['term'].head()

0    36
1    60
2    60
3    36
4    60
Name: term, dtype: int32

**Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." 
Else it should contain the integer 0.**

In [32]:
df['loan_status'].head()

0       Current
1    Fully Paid
2       Current
3       Current
4    Fully Paid
Name: loan_status, dtype: object

In [33]:
#first get values
loan_status_is_great = (df['loan_status'] == 'Current') | (df['loan_status'] == 'Fully Paid')

In [35]:
df['loan_status_is_great'] = loan_status_is_great

In [37]:
df.loan_status_is_great.head()

0    True
1    True
2    True
3    True
4    True
Name: loan_status_is_great, dtype: bool

In [38]:
df.loan_status_is_great.value_counts()

True     121705
False      6707
Name: loan_status_is_great, dtype: int64

In [41]:
df['loan_status_is_great'].replace(True, 1)
df['loan_status_is_great'].replace(False, 0)
df['loan_status_is_great'].value_counts()

True     121705
False      6707
Name: loan_status_is_great, dtype: int64

In [72]:
manager=(df['emp_title'].str.contains('manager'))

In [73]:
def find_p(df):
    for col in df.columns:
        if df[col].contains('%'):
            print(col)

In [74]:
find_p(df)

AttributeError: 'Series' object has no attribute 'contains'

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# %cd instacart_2017_05_01